@model DATNMVC.Models.ThongTinGiangVien
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateDuAn</h2>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                @using (Html.BeginForm("AddGiangVien", "ThongTinGiangVien", "Post"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2">Chọn ảnh</label>
                        <div class="col-md-10">
                            <input type="file" class="form-control-file border" name="Anh">
                            @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Họ tên</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.hoTen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.hoTen, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Ngày sinh</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ngaySinh, new { htmlAttributes = new { @class = "form-control form_datetime" } })
                            @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Phòng ban</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.phongBan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phongBan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="display:flex">
                        <label class="control-label col-md-3">Chức vụ</label>
                        <div class="col-md-9">
                            @Html.DropDownList("IDChuc", (MultiSelectList)ViewBag.chucvu, new { @class = "selectpicker" })
                            @Html.ValidationMessageFor(model => model.idChucVu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Chuyên ngành</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.chuyenNganh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.chuyenNganh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Đơn vị công tác</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DonViCongTac, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DonViCongTac, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="display:flex">
                        <label class="control-label col-md-2">Khoa</label>
                        <div class="col-md-9">
                            @Html.DropDownList("IDKhoa", (MultiSelectList)ViewBag.khoa, new { @class = "selectpicker" })
                            @Html.ValidationMessageFor(model => model.IdKhoa, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10" style="padding-left: 80%;">
                            <input type="submit" value="Create" class="btn btn-danger" style="float:right" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $('.selectpicker').selectpicker();
</script>
@section scripts{
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    <script>
    $('.form_datetime').datetimepicker();
    </script>
}