@*@model IEnumerable<DATNMVC.Models.ThongTinGiangVien>*@
@model PagedList.IPagedList<DATNMVC.Models.ThongTinGiangVien>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Area/Views/Shared/_Layout.cshtml";
}

<div class="container" style=" background: white;">
    <div class="row" style=" margin-top: 5%;">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2 style="color:#008dc2">Khoa</h2>
                <div class="panel-group category-products" id="accordian">
                    @Html.Action("Khoas", "User")
                </div>
                <!--/category-products-->
                <!--/shipping-->
            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center" style=" background: #008dc2; color: white; padding: 10px;">Thông tin giảng viên</h2>
                @foreach (var item in Model)
                {
                    <div class="col-sm-6">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="/Area/User/GetThongTinGiangVien1/@item.ID" style="        display: flex;padding: 5px;border: 1px solid lightgray;">
                                        <img style=" width: 75px; height: 97px; display: block; border: 2px solid #bebebe;" src="~/Areas/Area/Content/images/@item.Anh" alt="" />
                                        <div style=" margin: auto; font-size: 14px;margin-left:4px">
                                            <table style="margin-left:17px">
                                                <tbody>
                                                    <tr>
                                                        <td style=" float: left;">
                                                            @item.hoTen
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        @foreach (var ite in @ViewBag.Chucvu)
                                                        {
                                                            if (ite.ID == @item.idChucVu)
                                                            {
                                                                <td style=" float: left;"> Chức vụ : @ite.tenChucVu</td>
                                                            }
                                                        }
                                                    </tr>
                                                    <tr>
                                                        <td style=" float: left;">Email : @item.Email</td>
                                                    <tr>
                                                        <td style=" float: left;">Sđt : @item.SDT</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </a>
                                </div>
                                @*<div class="product-overlay">
                                    <div class="overlay-content">
                                        <p>Easy Polo Black Edition</p>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
                Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
        </div>

        @Html.PagedListPager(Model, page => Url.Action("GetThongTinGiangVien", new { page, size = ViewBag.currentSize }))
    </div>
</div>

